<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Styles/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>


    <div class="wrapper">
        <header><h1>Employee Cost Estimator</h1></header>
        <div class="body-content">
            @RenderBody()
        </div>

    </div>
    <footer>
       
    </footer>
    <script type="text/javascript" src="~/bower_components/jquery/dist/jquery.min.js"></script>
    @RenderSection("BottomScripts", required:false)
</body>
</html>