@import "bourbon";
@import "neat";


* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
    
    header {
        margin: 1em;
    }

    .body-content {
        width: 90%;
        margin: 0 auto;
        @include outer-container;
        .employee-add-container {
            @include span-columns(12);
            margin-bottom: 1em;
        }
        .employee-list-container {
            @include span-columns(6);

            ul {
                list-style:none;
                margin:0;
                padding:0;
                li {
                    padding: .2em;
                     border: 1px solid #ccc;
                }

                li:nth-child(even) {
                    background-color: #ddd;
                }
            }
        }

        .totals-container {
            @include span-columns(6);

             ul {
                list-style:none;
                margin:0;
                padding:0;
                li {
                    padding: .2em;
                    border: 1px solid #ccc;
                }

                li:nth-child(even) {
                    background-color: #ddd;
                }
            }
        }

    }
}


@import "_Form.scss";