@import "bourbon";
@import "neat";


* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
    
    header {
        margin: 1em;
    }

    .body-content {
        width: 90%;
        margin: 0 auto;
        @include outer-container;
        .employee-add-container {
            @include span-columns(4);
        }
        .employee-list-container {
            @include span-columns(4);
        }

        .totals-container {
            @include span-columns(4);
        }

    }
}
footer, .push {
	height: 155px; /* '.push' must be the same height as 'footer' */
    margin: 0 2em;
}