html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  margin: 0; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  margin: 0 auto -155px;
  /* the bottom margin is the negative value of the footer's height */ }

.wrapper header {
  margin: 1em; }

.wrapper .body-content {
  width: 90%;
  margin: 0 auto;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

.wrapper .body-content::after {
  clear: both;
  content: "";
  display: table; }

.wrapper .body-content .employee-add-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 1em; }

.wrapper .body-content .employee-add-container:last-child {
  margin-right: 0; }

.wrapper .body-content .employee-list-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }

.wrapper .body-content .employee-list-container:last-child {
  margin-right: 0; }

.wrapper .body-content .employee-list-container ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.wrapper .body-content .employee-list-container ul li {
  padding: .2em;
  border: 1px solid #ccc; }

.wrapper .body-content .employee-list-container ul li:nth-child(even) {
  background-color: #ddd; }

.wrapper .body-content .totals-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }

.wrapper .body-content .totals-container:last-child {
  margin-right: 0; }

.wrapper .body-content .totals-container ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.wrapper .body-content .totals-container ul li {
  padding: .2em;
  border: 1px solid #ccc; }

.wrapper .body-content .totals-container ul li:nth-child(even) {
  background-color: #ddd; }

.form-group {
  float: left;
  margin-right: 10px; }

.form-group input, .form-group select {
  display: block; }

.button-group {
  padding: .3em 0;
  clear: both;
  display: block; }
