
@{
    ViewBag.Title = "Index";
}
@section BottomScripts {
<script src="~/Scripts/main.js"></script>
}
<section class="employee-add-container">
    <form id="form-add-employee">
        <div class="form-group">
            <label for="firstname">First</label>
            <input type="text" value="" name="firstname" id="firstname"/>
        </div>
        <div class="form-group">
            <label for="lastname">Last</label>
            <input type="text" value="" name="lastname" id="lastname" />
        </div>
        <div class="form-group">
            <label>Spouse</label>
            <input type="checkbox" value="1" name="spouse" id="spouse" />
        </div>
        <div class="form-group">
            <label>Dependents</label>
            <select name="dependents" id="dependents">
                @for (var i = 0; i < 21; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>

        <input type="submit" value="submit" />
    </form>
</section>
<section id="employee-list" class="employee-list-container"></section>
<section id="estimator-container" class="totals-container"></section>
